{% extends "allauth/layouts/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
  <div class="auth-card__header">
    <h1 class="auth-card__title">{% trans "Check Your Email" %}</h1>
    <p class="auth-card__text">
      {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    </p>
  </div>

  <a href="{% url 'account_login' %}" class="auth-submit-btn">
    {% trans "Back to Sign In" %}
  </a>
{% endblock content %}
