{% extends "allauth/layouts/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
  <div class="auth-card__header">
    <h1 class="auth-card__title">{% trans "Password Changed" %}</h1>
    <p class="auth-card__text">
      {% trans "Your password is now changed. You can sign in with it right away." %}
    </p>
  </div>

  <a href="{% url 'account_login' %}" class="auth-submit-btn">
    {% trans "Sign In" %}
  </a>
{% endblock content %}
